.sidebar-list-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.sidebar-list-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background-color: #f5f5f5; /* Change the background color on hover */
}

.sidebar-list-item:hover > a {
  color: #f5f5f5; /* Change the text color on hover */
}

.sidebar-list-item:hover > a {
  color: #6b6b77;
}

.icon {
  transition: transform 0.3s ease;
}

.sidebar-list-item:hover .icon {
  transform: scale(1.1);
}

.sidebar-list-item:hover {
  color: #000;
}

.close_icon {
  transition: color 0.3s ease;
}

.close_icon:hover {
  color: red; /* Change the color on hover */
  transform: rotate(90deg); /* Rotate the icon on hover */
}
