/* Profile.css */
.profile-heading {
  color: white;
  /* margin-bottom: 2rem; */
}

.profile-card {
  background-color: white;
  padding: 2rem;
  width: 100%; /* Change back to 100% */
}

.avatar {
  margin-right: 1rem;
}

.username {
  color: black;
}

.info {
  color: black;
}

.edit-button,
.save-button {
  margin-top: 1rem;
}
