/* Dashboard.css */

/* Add styles for the loading animation */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  margin-top: 20px;
  animation: spin 1s linear infinite; /* Apply animation to create circular motion */
  color: #fff; /* Set color for the loading text */
}

@keyframes spin {
  from {
    transform: rotate(0deg); /* Start rotation from 0 degrees */
  }
  to {
    transform: rotate(360deg); /* End rotation at 360 degrees (full circle) */
  }
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Adjusted to start from the top */
  height: 100vh;
  background-color: #222;
  padding-top: 20px; /* Added top padding */
}

.main-title {
  text-align: center;
}

.main-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  box-sizing: border-box;
  overflow-y: auto; /* Add scrollbar only if content exceeds viewport */
}

.card {
  background-color: #fff;
  border-radius: 10px;
  padding: 24px;
  margin: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
  width: calc(200px * 1.2);
  flex: 0 0 auto;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.card-icon {
  font-size: calc(36px * 1.2);
  margin-bottom: 10px;
  color: #fff;
}

.card-content {
  margin-bottom: 10px;
}

h2 {
  margin: 0;
  font-size: calc(1.2rem * 1.2);
  color: #fff;
}

p {
  margin: 0;
  font-size: calc(1rem * 1.2);
  color: #fff;
}
